/* -------------------------------------------------------------------------------------------------------------------*/
/* Bootstrap overrides
/* -------------------------------------------------------------------------------------------------------------------*/
.card {
    margin: 8px 16px;
}

/* make the popup appears from bottom */
.modal-dialog {
    position: absolute;
    bottom: 0;
    width: calc(100% - 16px);
    max-height: calc(100% - 32px);
}

.modal.fade:not(.show) .modal-dialog {
    transform: translate(0, 100px);
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* Custom styles
/* -------------------------------------------------------------------------------------------------------------------*/
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contact-list {
    flex: 1;
    overflow: scroll;
}

.contact-list li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.contact-list-header {

    position: sticky;
    top: 0px;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
}

.contact {
    display: flex;
    align-items: center;
    margin: 0 -18px;
}

.contact > div {
    margin: 0 8px;
}

.contact-infos {
    flex: 1;
}

.contact-infos p {
    margin-bottom: 0;
}


.contact-toggle-favorite input[type="checkbox"] {
    display: none;
}

#empty-list {
    display: none;
}
